               {% for menu_item in menu_items %}
                <div class="item">
                    <div class='card' style="background-image: url({{ menu_item.photo.url }})">
                        <div class="price"><h6>{{ menu_item.price }} ₽</h6></div>
                        <div class='info'>
                            <h1 class='title'>{{ menu_item.name }}</h1>
                            <p class='description'>{{ menu_item.descr }}</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">Забронировать <i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}