{% load static %}
{% load tags %}
<div class="row">
    <div class="col-lg-12">
        <div class="row" id="tabs">
            <div class="col-lg-12">
                <div class="heading-tabs">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <ul>
                                <li><a href='#breakfast'><img src="{% static 'images/tab-icon-01.png' %}" alt="">Завтрак</a>
                                </li>
                                <li><a href='#lunch'><img src="{% static 'images/tab-icon-02.png' %}"
                                                          alt="">Обед</a></a></li>
                                <li><a href='#dinner'><img src="{% static 'images/tab-icon-03.png' %}"
                                                           alt="">Ужин</a></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="text-align:center;">
                <section class='tabs-content'>
                    <article id='breakfast'>
                        <div class="row">
                            {% get_week_menu_items_breakfast %}
                        </div>
                    </article>
                    <article id='lunch'>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                  {% get_week_menu_items_lunch %}
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id='dinner'>
                        <div class="row">
                            {% get_week_menu_items_dinner %}
                        </div>
                    </article>

                </section>
            </div>
        </div>
    </div>
</div>