{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="row" id="tabs">
            <div class="col-lg-12">
                <div class="heading-tabs">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <ul>
                                <li><a href='#breakfast'><img src="{% static 'images/tab-icon-01.png' %}" alt="">Завтрак</a>
                                </li>
                                <li><a href='#lunch'><img src="{% static 'images/tab-icon-02.png' %}"
                                                          alt="">Обед</a></a></li>
                                <li><a href='#dinner'><img src="{% static 'images/tab-icon-03.png' %}"
                                                           alt="">Ужин</a></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="text-align:center;">
                <section class='tabs-content'>
                    <article id='breakfast'>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="left-list">
                                        {% for week_menu_item in week_menu_items %}
                                        {% if week_menu_item.type.url == breakfast %}
                                        <div class="col-lg-12">
                                            <div class="tab-item">
                                                <img src="{{ week_menu_item.photo.url }}" alt="{{ week_menu_item.title }}">
                                                <h4>{{ week_menu_item.title }}</h4>
                                                <p>{{ week_menu_item.descr }}</p>
                                                <div class="price">
                                                    <h6>{{ week_menu_item.price }} ₽</h6>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id='lunch'>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="left-list">
                                        {% for week_menu_item in week_menu_items %}
                                        {% if week_menu_item.type.url == lunch %}
                                        <div class="col-lg-12">
                                            <div class="tab-item">
                                                <img src="{{ week_menu_item.photo.url }}" alt="">
                                                <h4>{{ week_menu_item.title }}</h4>
                                                <p>{{ week_menu_item.descr }}</p>
                                                <div class="price">
                                                    <h6>{{ week_menu_item.price }} ₽</h6>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id='dinner'>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="left-list">
                                        {% for week_menu_item in week_menu_items %}
                                        {% if week_menu_item.type.url == dinner %}
                                        <div class="col-lg-12">
                                            <div class="tab-item">
                                                <img src="{{ week_menu_item.photo.url }}" alt="">
                                                <h4>{{ week_menu_item.title }}</h4>
                                                <p>{{ week_menu_item.descr }}</p>
                                                <div class="price">
                                                    <h6>{{ week_menu_item.price }} ₽</h6>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </section>
            </div>
        </div>
    </div>
</div>